@page
@model Service.Idp.Pages.Account.Register.IndexModel
@{
    ViewData["Title"] = "Register";
    
}

<div >
    <partial name="_ValidationSummary"/>
    <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-3">
            <div class="Card">
                <div class="Card-header">
                    <h2>Register</h2>
                </div>
                <div class="Card-body">
                    <form method="post" asp-route="Register" >
                        <input type="hidden" asp-for="Input.ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="Input.FirstName"></label>
                            <input class="form-control" placeholder="FirstName" asp-for="Input.FirstName" autofocus="" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.LastName"></label>
                            <input class="form-control" placeholder="LastName" asp-for="Input.LastName" autofocus="" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input class="form-control" type="email" placeholder="Email" asp-for="Input.Email" autofocus=""/>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Username"></label>
                            <input class="form-control" placeholder="Username" asp-for="Input.Username" autofocus="" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input class="form-control" type="password" placeholder="Password" asp-for="Input.Password" autofocus="" />
                        </div>
                        <div class="form-group">
                            <label>Role :</label>
                            <select asp-for="Input.RoleName" class="form-control">
                                <option value="">Select Role</option>
                                @foreach (var item in Model.roles)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" name="button" value="register">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
